@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body{
    background-color:rgb(128, 180, 211);
    font-family:'Dancing Script',Verdana, sans-serif;
    padding: 0;
    margin: 10px;   
}

.book, .join{
  padding: 10px;
  background-color:#f09f99;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
}


.card-img {
  border: 10px solid #c19cdc;
}


main section img {
  box-sizing: border-box;
}
 

#hero-msg{
text-align: center;
}


#content{
  max-width: 1600px;
}

a{
    text-decoration:none;
    color: rgb(226, 215, 216)
}

section img {
  width: 300px;
}

header{
    display: flex; 
    align-items:center; 
    background-color:rgb(29, 87, 120);
}

main{
    text-align: center;
    display: flex; 
    align-items:center; 
    flex-direction:column;
    background-color:rgb(153, 108, 161);
}

footer{
  background-color: #f09f99;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: flex; 
  align-items:center; 
  flex-direction:column;
}

.social img, .logo{
  width:80px;
}

.social{
  display: flex;
}